/*Colors & Fonts*/

body{
	background:#e2edf8;
	color:  rgb(50, 50, 50);
	font-family: Optima;
	font-size: 17px;
	font-weight: lighter;
}

h1, h2, h3 {
	font-family: Optima;
	font-weight: bold;
}

h1{
	color: #557592;
	font-size: 45;
	font-weight: 900;
	font-weight: lighter;
}

h2{
	color: #7b839c;
	font-size: 23px;
	font-weight: lighter;
	font-weight: 500;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	color: #0a2540;
	font-weight: bold;
	font-family: Optima;
	font-size: 16px;
}
a:hover {
	color: #8898aa;
}

strong {
  font-weight: bold;
  color: #66667a;
}

/* Custom design with class */ 

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width : 760px) {
	.container {
		width: 600px;	
	}
}

@media (max-width : 500px) {
	.container {
		width: 400px;	
	}
}



.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 17px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center; 
}

.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #66667a;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
font-size: 50px;
color: #66667a;
}

.list-inline i:hover {
color: black;
}


/* Design adjustements*/

#introduction p {
	margin-bottom: 40px;
}







